<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>gestionProjets</display-name>

	<servlet>
		<servlet-name>ProjectController</servlet-name>
		<servlet-class>controllers.ProjectController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectController</servlet-name>
		<url-pattern>/ProjectController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TaskController</servlet-name>
		<servlet-class>controllers.TaskController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskController</servlet-name>
		<url-pattern>/TaskController</url-pattern>
	</servlet-mapping>

</web-app>
